{% load static %}
{% load i18n %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center py-3">
      <div class="mb-5 flex-center">
        <!-- Whatsapp -->
        <a class="footer-icons wapp-ic" href="https://wa.me/77023216996/?text=Hello">
          <i class="fab fa-whatsapp fa-lg white-text"> </i>
        </a>
        <!-- Github-->
        <a class="footer-icons github-ic" href="https://github.com/Asset1996">
          <i class="fab fa-github fa-lg white-text"> </i>
        </a>
        <!--Linkedin -->
        <a class="footer-icons li-ic" href="https://www.linkedin.com/in/asset-khamid-538407242/">
          <i class="fab fa-linkedin-in fa-lg white-text"> </i>
        </a>
        <!--Instagram-->
        <a class="footer-icons ins-ic" href="#">
          <i class="fab fa-instagram fa-lg white-text"> </i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">© {% now 'Y' %} {% trans 'Designed by:' %}
  <a href="#"> {% trans 'Asset Khamid' %}</a>
</div>