.footer-icons{
    margin-left: 20px; 
    margin-right: 20px; 
    color: #000;
    text-decoration: none !important;
}

.footer-icons:hover{
    color: rgb(121, 121, 121);
}

.view-title {
    margin: 0 auto;
    padding: 20px 10px;
}
.view-title>h3, .view-title>a {
    display: inline-block;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

.invisible-button{
    border: none;
    background-color: transparent;
    color: #0BCEAF;
}
.invisible-button:hover{
    color: #08927b;
}

@media screen and (min-width: 1200px) {
    .login-register{
        margin: 0 auto;
        width: 30%;
        padding-top: 50px;
    }
}
@media (max-width: 1199px) and (min-width: 768px){
    .login-register{
        margin: 0 auto;
        width: 50%;
        padding-top: 50px;
    }
}

@media (max-width: 767px) and (min-width: 576px){
    .login-register{
        margin: 0 auto;
        width: 60%;
        padding-top: 50px;
    }
}

@media (max-width: 767px) and (min-width: 576px){
    .login-register{
        margin: 0 auto;
        width: 70%;
        padding-top: 50px;
    }
}

@media (max-width: 575px){
    .login-register{
        margin: 0 auto;
        width: 90%;
        padding-top: 50px;
    }
}
