{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
{% load filters %}
{% load i18n %}
<!-- About Start -->
<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">{% trans 'About' %}</h1>
            <h1 class="position-absolute text-uppercase text-primary">{% trans 'Me' %}</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid w-100 rounded-circle shadow-sm" src="{% static 'img/asset.jpeg' %}" alt="">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">{{user.name}} {{user.surname}}</h3>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>{% trans 'Birthday:' %} <span class="text-secondary">{{ user.birthday }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>{% trans 'Degree:' %} <span class="text-secondary">{{ user.get_degree_display }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>{% trans 'Experience:' %} <span class="text-secondary">{{ user.get_experience_display }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>{% trans 'Phone:' %} <span class="text-secondary">{{ user.phone }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>{% trans 'Email:' %} <span class="text-secondary">{{ user.email }}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>{% trans 'Address:' %} <span class="text-secondary">{{ user.address }}</span></h6></div>
                </div>
                {% for key, val in user.skills.items %}
                    <div class="progress" style="margin: 10px 10px !important">
                        <div 
                            {% if val >= 8  %}
                                class="progress-bar bg-success" 
                            {% elif val >= 5 and val < 8 %}
                                class="progress-bar bg-info" 
                            {% elif val >= 3 and val < 5 %}
                                class="progress-bar bg-warning" 
                            {% elif val < 3 %}
                                class="progress-bar bg-danger" 
                            {% endif %}
                        role="progressbar" style="width: {{ val }}0%" aria-valuenow="{{ val }}" aria-valuemin="0" aria-valuemax="10">{{ key }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}